*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
}
.search{
    font-size: 30px;
    text-align: center;
    margin: 50px;
}
.search h1{
    margin: 20px;
}
.search h3{
    font-size: 28px;
}
input{
    font-size: 25px;
    border-radius: 7px;
}
input:focus{
    border: solid 1px;
    padding: 1px;
}
#main-display{
    width: 80%;
}
.todo{
    margin: 20px;
}
.todo{
    font-size: 20px;
    width: 100%;
    margin: auto;
    padding: 5px;
    display: flex;
    align-items: center;
}
.todo input{
    margin-right: 10px;
}
.todo:nth-child(even){
    background-color: #8A9BE6;
}
.todo:nth-child(odd){
    background-color: #739BE6;
}
.btn{
    background-color: #AF72FC;
    border: none;
    border-radius: 8px;
    padding: 2px;
    border: solid 1px;
    transition-duration: 0.5s;
    color: white;
}
.btn:hover{
    background-color: transparent;

    color: black;
}
.btn-delete{
    text-align: end;
}
.row-delete{
    display: flex;
    width: 20%;
    justify-content: flex-end;
}
.list{
    width: 80%;
}